@model CommunityCounts.Models.Master.C1clientneedscat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<h2>Details</h2>

<div>
    <h4>C1clientneedscat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idNeedsCat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
