<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.communitycounts.me.uk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://remote.brunswickhlc.org.uk</MSDeployServiceURL>
    <DeployIisAppPath>Community Counts</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>NextStepForward</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ccMaster" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CommunityCounts.Models.Master.ccMaster, CommunityCounts" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CommunityCounts.Migrations.MySqlHistoryContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CommunityCounts.Migrations.MySqlHistoryContext, CommunityCounts" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CommunityCounts.Models.ApplicationDbContext, CommunityCounts" MigrationConfiguration="CommunityCounts.Migrations.Configuration, CommunityCounts" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="elmah-mysql" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=localhost;user id=ccelmah;persistsecurityinfo=False;database=elmah;password=yssMwh8M56i" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\elmah-mysql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=localhost;user id=ccelmah;     persistsecurityinfo=false;     database=elmah;     password='yssMwh8M56i'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="cctrai" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=Localhost;database=cctrai;user id=cctrai;password=yssMwh8M26i;persistsecurityinfo=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cctrai_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=Localhost;database=cctrai;user id=cctrai;password=yssMwh8M26i;persistsecurityinfo=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ccbhlc" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=Localhost;database=ccbhlc;user id=ccbhlc;password=yssMwh8M36i;persistsecurityinfo=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ccbhlc_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=Localhost;database=ccbhlc;user id=ccbhlc;password=yssMwh8M36i;persistsecurityinfo=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ccsydn" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=Localhost;database=ccsydn;user id=ccsydn;password=yssMwh8M46i;persistsecurityinfo=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ccsydn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=Localhost;database=ccsydn;user id=ccsydn;password=yssMwh8M46i;persistsecurityinfo=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="cccrow" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=Localhost;database=cccrow;user id=cccrow;password=yssMwh8M56i;persistsecurityinfo=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cccrow_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=Localhost;database=cccrow;user id=cccrow;password=yssMwh8M56i;persistsecurityinfo=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ccbhlc-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cccrow-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ccMaster-Web.config Connection String">
      <ParameterValue>server=Localhost;user id=CCMaster;password=yssMwh8M{6i;persistsecurityinfo=True;database=ccmaster</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ccsydn-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cctrai-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CommunityCounts.Migrations.MySqlHistoryContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)elmah-mysql-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityConnection-Web.config Connection String">
      <ParameterValue>server=localhost;user id=CCMaster;     persistsecurityinfo=True;     database=elmah;     password='yssMwh8M{6i'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CommunityCounts.Migrations.MySqlHistoryContext" />
  </ItemGroup>
</Project>