@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Community Counts system tracks, and analyses, community member’s use of community services.</p>

<p>Developed over a number of years in partnership with <a href="http://www.bhlc.services" target="_blank">The Brunswick Healthy Living Centre</a> (Opens in new Tab) in Leamington Spa, it gives clear statistics and performance measures for any service-based process. Examples include:
<ul>
    <li>Enrollment, and Attendance, on Vocational courses</li>
    <li>Progression monitoring (Accredited and non-accredited courses)</li>
    <li>Demographic analysis (e.g. How many people of age-range 20-25 attended the Jobs Club Service?)</li>
    <li>Service Satisfaction analysis (e.g. How many people thought that our services were accessible and were aged over 65 years?)</li>
    <li>Healthy Eating analysis (e.g. What percentage of our attendees regularly eat 5-a-day and attend Physical Activity classes?)</li>
    <li>Weight Management tracking (e.g. Body Mass Index progression.)
</li>
</ul>
    <p class="text-info">You are using Version 3.10 of Community Counts</p>
</p>