@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Warwick<br />
    Warwickshire<br />
    United Kingdon<br />
    <abbr title="Phone">P:</abbr>
    01926 678637 (+44 926 678637)
</address>

<address>
    <strong>Support:</strong>   <a href="http://www.nsfwd.co.uk/it-services/report-an-issue/">Report an issue</a><br />
   
</address>