@{
    ViewBag.Title = "1.01a";
}
<p>
    @Html.ActionLink("Back to News Summary", "ReadMore", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
</p>
<h2>Change 1.01a</h2>
<h3>The "You Have News" system</h3>
<div>
    <p>This system alerts individual users to the fact that there have been changes to the system since you last dismissed the "You have news" message.</p>
    <p>
        Whenever the Community Counts system is improved, changed or has bugs-fixed, all Users are required to either <span class="label label-success">Dismiss</span> the news message or select to <span class="label label-info">Read More</span>.
    </p>
    <p>
        Use the <span class="label label-success">Dismiss</span> button to stop seeing alerts to any of the changes that have been made. 
    </p>
    <p> Use the <span class="label label-info">Read More</span> button to initially see a simple log of all the changes applied. You can then (optionally) read further detail about each change - such as this one!
    </p>
    <p>
        You can always read past System Change News by pressing the <span class="label label-info">Help/Change Log</span> button on the main menu
    </p>
</div>
