@{
    ViewBag.Title = "Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Analysis</h2>
<h3>Introduction</h3>
<p>
    @Html.ActionLink("Back to Main Screen", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
</p>
<div class="text-info">
    <p>Analysis is performed using the Analysis Engine.</p>
    <p>The Analysis Engine runs under either the Microsoft Windows or Apple Mac computer systems; it does not work via any Web-browser</p>
    <p>
        Analysis enables full interrogation of all of the Community Counts database to answer questions such as:
        <ul>
            <li>The inhabitants of which postal wards use our services?</li>
            <li>Which services do they use?</li>
            <li>What is the domicile status of those who are enrolled on our Financial Awareness course?</li>
            <li>How many times a year do people visit us for Employment Advice?</li>
            <li>etc.</li>
        </ul>
    </p>
    <p>Due to the completely open nature of the Community Counts Database and it's Analysis Engine, there is no limit to the type of query that can be asked.</p>
    <p>Please contact <a href="https://www.nsfwd.co.uk/it-services/report-an-issue/"> support</a> to arrange installation of the necessary software to perform analysis</p>
</div>

