@{
    ViewBag.Title = "Analysis - Pivot Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Analysis - Creating Charts from Pivot Tables</h2>
<p>
    @Html.ActionLink("Back to Main Screen", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
</p>
<div class="panel panel-default">
    <div class="panel-body">
        You can turn ANY pivot table result into a chart in 3 easy steps....
        <ol>
            <li class="lead">
                Click on any part of the Pivot Table (to select it) and then choose the <em>Analyze</em> tab of Microsoft Excel and finally select the <em>PivotChart</em> button.<img class="img-rounded" src="~/Content/Images/CCAnalysis19 - Starting a Chart .png" style="width=50%" />
            </li>
            <li class="lead">
                From the pop-up that appears, select the chart type. In this case, a 3D Pie-Chart is selected.<img class="img-rounded" src="~/Content/Images/CCAnalysis 20 - choosing the Chart Type.png" style="width=50%" />
            </li>
            <li class="lead">
                Press <em>OK</em> and the Chart appears <img class="img-rounded" src="~/Content/Images/CCAnalysis 21 - The Chart.png" style="width=50%" />
            </li>
        </ol>
    </div>
</div>

