@{
    ViewBag.Title = "Analysis - vClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Analysis - The Data Dictionary for vClient</h2>
<p>
    @Html.ActionLink("Back to Data Dictionary", "DDIntro", "AnalIntro", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
</p>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Important!</h4>
    <p>There is one vClient record for every client registered in the system</p>
</div>
<table class="table table-bordered table-hover">
    <tr>
        <th>Data Dictionary item</th>
        <th>Brief description</th>
    </tr>
    <tr>
        <td>AgeRange</td>
        <td>The Age bandings as shown on the Client registration form. Examples include '17-25'</td>
    </tr>
    <tr>
        <td>ArmedServicesCurrently</td>
        <td>'0' means that the client is not currently a member of the Armed Services,  '1' means that the client is currently a member of the armed services</td>
    </tr>
    <tr>
        <td>ArmedServicesPreviously</td>
        <td>'0' means that the client was not previously a member of the Armed Services,  '1' means that the client was previously a member of the armed services</td>
    </tr>
    <tr>
        <td>AttainmentTracked</td>
        <td>'0' means that this Client is not tracked for Attainment purposes, '1' means that the client is tracked for Attainment purposes</td>
    </tr>
    <tr>
        <td>Benefits</td>
        <td>The same values as on the Client registration form:<ul><li>'Yes'</li><li>'No'</li><li>'Prefer not to Say'</li></ul></td>
    </tr>
    <tr>
        <td>ClientCreatedDate</td>
        <td>The calendar date that the client was entered into the system</td>
    </tr>
    <tr>
    <td>ClientCreatedHalf</td>
    <td>The half-year (service registration year, not calendar year) in which the client was first entered into the system. Example '2015H2'</td></tr>
    <tr>
        <td>ClientCreatedQtr</td>
        <td>The quarter-year (service registration year, not calendar year) in which the client was first entered into the system. Example '2015Q3'</td>
    </tr>
    <tr>
        <td>ClientCreatedYear</td>
        <td>The service registration year (not calendar year) in which the client was first entered into the system. Example '2015'</td>
    </tr>
    <tr>
        <td>ClientCreatedYearMonth</td>
        <td>The year and month (service registration year, not calendar year) in which the client was first entered into the system. Example '2015-04Apr'</td>
    </tr>
    <tr>
        <td>ClientID</td>
        <td>The unique system identifier for this client</td>
    </tr>
    <tr>
        <td>Disability</td>
        <td>The same values as on the Client registration form:<ul><li>'Yes'</li><li>'No'</li><li>'Prefer not to Say'</li></ul></td>
    </tr>
    <tr>
        <td>District</td>
        <td>The geographical - from Postcode data - <strong>District</strong> in which the client resides</td>
    </tr>
    <tr>
        <td>Ethnicity</td>
        <td>The same values as on the Client registration form. Example 'Mixed Heritage'</td>
    </tr>
    <tr>
        <td>EthnicityOther</td>
        <td>The same value as on the Client registration form if one was entered. Can be any value</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>The same values as on the Client registration form:<ul><li>'Yes'</li><li>'No'</li><li>'Prefer not to Say'</li></ul></td>
    </tr>
    <tr>
        <td>HearOfServices</td>
        <td>How the Client heard of the Activiy for which they are registering. The same values as on the Client registration form. Example 'Live Locally'</td>
    </tr>
    <tr>
        <td>HearOfServicesOther</td>
        <td>How the Client heard of the Activiy for which they are registering that is not one of the drop-down list values (if one was entered) Can be any value</td>
    </tr>
    <tr>
        <td>HousingStatus</td>
        <td>For the registered address of this Client, value to determine their ownership status of that property.  Examples include:<ul><li>'Owner Occupier'</li></ul></td>
    </tr>
    <tr>
        <td>MemoryStickIssuedDate</td>
        <td>The date that a personal storage device was issued to this Client</td>
    </tr>
    <tr>
        <td>Occupation</td>
        <td>Occupation types as defined on the Client registration form. Examples 'Volunteer' or 'Employed Part time (under 16 hours)'</td>
    </tr>
    <tr>
        <td>OccupationOther</td>
        <td>Occupation types that is not one of the values in the drop-down list (if one was entered). Can be any value</td>
    </tr>
    <tr>
        <td>PostCode</td>
        <td>The registered postcode of the address in which the Client lives</td>
    </tr>
    <tr>
        <td>PreferredLanguage</td>
        <td>The first language of the Client. Example 'Chinese (all dialects)'</td>
    </tr>
    <tr>
        <td>PreferredLanguageOther</td>
        <td>The first language of the Client that is not one of the drop-down list values. Can be any value</td>
    </tr>
    <tr>
        <td>RegistrationYear</td>
        <td>The <strong>service year</strong> for which this client is registered. This is not (necessarily) the same as the calendar year if, for example, a service year starts on 1st April. In this case 1st April 2015 has the same registration year as 1st February 2016 (and would be '2015')</td>
    </tr>
    <tr>
        <td>TenantStatus</td>
        <td>If the <em>HousingStatus</em> field is that of 'Rented Accommodation', further information (as on the registration form) to indicate who their Landlord is. Example 'Waterloo'</td>
    </tr>
    <tr>
        <td>TravelMethod</td>
        <td>How the Client travelled to the Centre when registering. Example 'Car or Motorbike'</td>
    </tr>
    <tr>
        <td>Ward</td>
        <td>The geographical - from Postcode data - <strong>Ward</strong> in which the client resides</td>
    </tr>

</table>
