@{
    ViewBag.Title = "Analysis - vSurveyResultsNum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Analysis - The Data Dictionary for vSurveyResultsNum</h2>
<p>
    @Html.ActionLink("Back to Data Dictionary", "DDIntro", "AnalIntro", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
</p>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Important!</h4>
    <p>There is one vSurveyResultsNum record for each numeric question for each survey definition for each client.</p>
</div>
<table class="table table-bordered table-hover">
    <tr>
        <th>Data Dictionary item</th>
        <th>Brief description</th>
    </tr>
    <tr>
        <td>
            ActivityName
        </td>
        <td>The Activity Name to which this survey relates. </td>
    </tr>
    <tr>
        <td>AgeRange</td>
        <td>The Age bandings as shown on the Client registration form. Examples include '17-25'</td>
    </tr>
    <tr>
        <td>ArmedServicesCurrently</td>
        <td>'0' means that the client is not currently a member of the Armed Services,  '1' means that the client is currently a member of the armed services</td>
    </tr>
    <tr>
        <td>ArmedServicesPreviously</td>
        <td>'0' means that the client was not previously a member of the Armed Services,  '1' means that the client was previously a member of the armed services</td>
    </tr>
    <tr>
        <td>AttainmentTracked</td>
        <td>'0' means that this Client is not tracked for Attainment purposes, '1' means that the client is tracked for Attainment purposes</td>
    </tr>
    <tr>
        <td>AttendanceType</td>
        <td>The <em>type</em> of attendance marking performed for this bookings (from the <em>schedule data</em>). Examples include 'Normal Present/Absent marking'</td>
    </tr>
    <tr>
        <td>Benefits</td>
        <td>The same values as on the Client registration form:<ul><li>'Yes'</li><li>'No'</li><li>'Prefer not to Say'</li></ul></td>
    </tr>
    <tr>
        <td>ClientID</td>
        <td>The unique system identifier for this client</td>
    </tr>
    <tr>
        <td>Disability</td>
        <td>The same values as on the Client registration form:<ul><li>'Yes'</li><li>'No'</li><li>'Prefer not to Say'</li></ul></td>
    </tr>
    <tr>
        <td>District</td>
        <td>The geographical - from Postcode data - <strong>District</strong> in which the client resides</td>
    </tr>
    <tr>
        <td>Ethnicity</td>
        <td>The same values as on the Client registration form. Example 'Mixed Heritage'</td>
    </tr>
    <tr>
        <td>EthnicityOther</td>
        <td>The same value as on the Client registration form if one was entered. Can be any value</td>
    </tr>
    <tr>
        <td>forAllClients?</td>
        <td>'0' means not true - this survey is not for all Clients. Thus, this survey will only apply to those clients enrolled in the <strong>ActivityName</strong> above. '1' means false - this survey will apply to all clients irrespective of whether they are enrolled in <strong>ActivityName</strong> (or not)</td>
    </tr>
    <tr>
        <td>FunderCode</td>
        <td>The Funder Code assigned to the Activity to which this attendance relates.</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>The same values as on the Client registration form:<ul><li>'Yes'</li><li>'No'</li><li>'Prefer not to Say'</li></ul></td>
    </tr>
    <tr>
        <td>HearOfServices</td>
        <td>How the Client heard of the Activiy for which they are registering. The same values as on the Client registration form. Example 'Live Locally'</td>
    </tr>
    <tr>
        <td>HearOfServicesOther</td>
        <td>How the Client heard of the Activiy for which they are registering that is not one of the drop-down list values (if one was entered) Can be any value</td>
    </tr>
    <tr>
        <td>HousingStatus</td>
        <td>For the registered address of this Client, value to determine their ownership status of that property.  Examples include:<ul><li>'Owner Occupier'</li></ul></td>
    </tr>
    <tr>
        <td>idSurvey</td>
        <td>The Unique system identified for this survey.</td>
    </tr>
    <tr>
        <td>MemoryStickIssuedDate</td>
        <td>The date that a personal storage device was issued to this Client</td>
    </tr>
    <tr>
        <td>numNumericQuestions</td>
        <td>The number of numeric response type questions in the survey. There can be zero.</td>
    </tr>
    <tr>
        <td>NumTextQuestions</td>
        <td>The number of textural response type questions in the survey. There can be zero.</td>
    </tr>
    <tr>
        <td>Occupation</td>
        <td>Occupation types as defined on the Client registration form. Examples 'Volunteer' or 'Employed Part time (under 16 hours)'</td>
    </tr>
    <tr>
        <td>OccupationOther</td>
        <td>Occupation types that is not one of the values in the drop-down list (if one was entered). Can be any value</td>
    </tr>
    <tr>
        <td>PostCode</td>
        <td>The registered postcode of the address in which the Client lives</td>
    </tr>
    <tr>
        <td>PreferredLanguage</td>
        <td>The first language of the Client. Example 'Chinese (all dialects)'</td>
    </tr>
    <tr>
        <td>PreferredLanguageOther</td>
        <td>The first language of the Client that is not one of the drop-down list values. Can be any value</td>
    </tr>
    <tr>
        <td>RegistrationYear</td>
        <td>The <strong>service year</strong> for which this client is registered. This is not (necessarily) the same as the calendar year if, for example, a service year starts on 1st April. In this case 1st April 2015 has the same registration year as 1st February 2016 (and would be '2015')</td>
    </tr>
    <tr>
        <td>SurveyActive?</td>
        <td>'0' means false - this survey is not active and so will not appear in the <em>Work With : Surveys</em> menu list. '1' means true - this survey is active.</td>
    </tr>
    <tr>
        <td>SurveyCreatedDate</td>
        <td>The calendar date that this survey definition was first entered into the system.</td>
    </tr>
    <tr>
        <td>SurveyCreatedDateTime</td>
        <td>The calendar date and time that this survey definition was first entered into the system.</td>
    </tr>
    <tr>
        <td>SurveyCreatedHalf</td>
        <td>The half-year (service registration year, not calendar year) in which this survey definition was created. Example '2015H2'</td>
    </tr>
    <tr>
        <td>SurveyCreatedQtr</td>
        <td>The quarter-year (service registration year, not calendar year) in which this survey definition was created. Example '2015Q2'</td>
    </tr>
    <tr>
        <td>SurveyCreatedUser</td>
        <td>The name of the account that created this survey definition</td>
    </tr>
    <tr>
        <td>SurveyCreatedYear</td>
        <td>The year (service registration year, not calendar year) in which this survey definition was created. Example '2015'</td>
    </tr>
    <tr>
        <td>SurveyCreatedYearMonth</td>
        <td>The year and month (service registration year, not calendar year) in which this survey definition was created. Example '2015-05May'</td>
    </tr>
    <tr>
        <td>SurveyDesc</td>
        <td>The description of the survey definition</td>
    </tr>
    <tr>
        <td>SurveyForAnonymousClients?</td>
        <td>'0' means false - this survey cannot be used to collect results for <em>anonymous persons</em> - all clients must be enrolled in <strong>ActivityName</strong>. '1' means true - this survey can be used to collect (multiple) results for <em>anonymous persons</em></td>
    </tr>
    <tr>
        <td>SurveyName</td>
        <td>The name of this survey</td>
    </tr>
    <tr>
        <td>SurveyResultsEnteredNumberDesc</td>
        <td>Full text of the response given with values such as 'Strongly Disagree'.</td>
    </tr>
    <tr>
        <td>SurveyResultsEnteredNumberValue</td>
        <td>The number value - e.g. values '1' thru '7' corresponding to <strong>SurveyResultsEnteredNumberDesc</strong></td>
    </tr>
    <tr>
        <td>SurveyResultsNumQuestionNumber</td>
        <td>The actual question number, on the survey, to which <strong>SurveyResultsEnteredNumberValue</strong> is the response. All (numeric) response questions are numbered as Q1, Q2... etc. This is that Q number.</td>
    </tr>
    
    <tr>
        <td>SurveyUpdatedDateTime</td>
        <td>The calendar date and time that this survey definition was last updated</td>
    </tr>
    <tr>
        <td>SurveyUpdatedUser</td>
        <td>The account name of the last person to update this survey definition</td>
    </tr>
    <tr>
        <td>TenantStatus</td>
        <td>If the <em>HousingStatus</em> field is that of 'Rented Accommodation', further information (as on the registration form) to indicate who their Landlord is. Example 'Waterloo'</td>
    </tr>
    <tr>
        <td>TravelMethod</td>
        <td>How the Client travelled to the Centre when registering. Example 'Car or Motorbike'</td>
    </tr>
    <tr>
        <td>Ward</td>
        <td>The geographical - from Postcode data - <strong>Ward</strong> in which the client resides</td>
    </tr>
    </table>
        
