

@{
    ViewBag.Title = "Frig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Frig Summary</h2>

<div>
    <hr />
    <p>Frig duration was @ViewBag.elapsedTime for @ViewBag.numRecs records.</p>
    </div>
